h1 {
 color: #fff; /* テキストの色を白に設定 */
 background-color: #ff00ff; /* 背景色を赤に設定 */
 font-family: "Georgia", serif; /* フォントを Georgia に設定。Georgia がない場合は serif を使用 */
 font-size: 2.5rem; /* フォントサイズを 2.5rem に設定 */
 text-align: center; /* テキストを中央揃えにする */
 margin: 1.25rem auto; /* 上下に 1.25rem の外側の余白を追加し、中央揃えにする */
 padding: 1rem 2rem; /* 内側の余白を上下 1rem、左右 2rem に設定 */
 max-width: 85%; /* 要素の最大幅を 85%に設定 */
 border-radius: 0.5rem; /* ボーダーの角を丸くする（半径 0.5rem） */
 box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 影を追加して、ボックスに立体感を出す */
}

body {
  display: flex; /* 画面全体の配置を調整するための設定 */
  justify-content: center; /* コンテンツを中央に配置 */
  padding: 0px 10px; /* 画面の上下に 0px の余白、左右に10pxの余白を設定 */
}

.container {
  max-width: 768px; /* コンテンツの最大幅を768pxに制限 */
  width: 100%; /* コンテンツが幅いっぱいに広がるように設定 */
  margin: 0 auto; /* コンテンツを中央に配置 */
}

img {
  display: block; /* 画像をブロック要素に設定 */
  margin: 0 auto; /* 画像を中央に配置 */
  border-radius: 10px; /* 画像の角を丸く設定 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* ドロップシャドウを設定 */
}

html {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

